/* Application */

.shortcuts {
    display: none !important;
}

.window-title {
    display: none !important;
}

.window-appicon {
    display: none !important;
}

.title.show-file-icons {
    -webkit-app-region: drag !important;
}

.editor-group-container.empty {
    -webkit-app-region: drag !important;
}

.monaco-sash.horizontal.maximum {
    display: none !important;
}

.editor-widget .monaco-sash.vertical {
    display: none !important;
}

/* Editor */

.tab {
    -webkit-app-region: no-drag !important;
    border-radius: 5px 5px 0px 0px !important;
}

.dirty-diff-glyph {
    display: none !important;
}

.decorationsOverviewRuler {
    display: none !important;
}

.xterm-decoration-overview-ruler {
    display: none !important;
}

.monaco-editor .line-numbers {
    left: 5px !important;
}

.monaco-diff-editor .line-numbers {
    left: 10px !important;
}

/* Status bar */

.last-visible-item {
    margin-right: 0 !important;
}

.first-visible-item {
    padding-left: 0 !important;
}

.statusbar-item-label {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#status\.problems {
    order: 1;
}

#status\.scm\.0 {
    order: 2;
}

/* Scroll bars */

.slider {
    display: none !important;
}

.scrollbar.vertical {
    display: none !important;
}

.scrollbar.horizonal {
    display: none !important;
}

/* Quick input */

input::placeholder {
    color: transparent !important;
}

.quick-input-widget {
    top: 35% !important;
    outline: 1px solid var(--vscode-focusBorder, var(--vscode-input-border)) !important;
}

.quick-input-header {
    padding: 5px !important;
}

.quick-input-message {
    padding: 5px 5px 0 5px !important;
}

.quick-input-titlebar {
    display: none !important;
}

.quick-input-list-separator {
    display: none !important;
}

.quick-input-inline-action-bar {
    display: none !important;
}

.quick-input-progress:not(.active) {
    display: none !important;
}

.quick-input-list-entry-action-bar {
    display: none !important;
}

.quick-input-widget.hidden-input .quick-input-list {
    margin-top: 0 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.quick-input-widget.hidden-input .quick-input-header {
    display: none !important;
}

.quick-input-widget.hidden-input .quick-input-list .monaco-list {
    padding-bottom: 0 !important;
}

.quick-input-widget:not(.hidden-input) .quick-input-list:not(:has(.monaco-list-row))>* {
    padding-bottom: 0 !important;
}

/* Views */

.message {
    display: none !important;
}

.diffViewport {
    display: none !important;
}

.global-actions {
    display: none !important;
}

.includes-excludes {
    display: none !important;
}

.extensions-search-container {
    transform: translateX(-3px) !important;
}

/* Titles */

.composite.title:not(.has-composite-bar) {
    -webkit-app-region: drag !important;
}

[id^="workbench.parts"] .composite.title:not(.has-composite-bar)>* {
    display: none !important;
}

[id^="workbench.parts"]:has(.content .explorer-viewlet) .composite.title>*:first-child {
    display: block !important;
}

[id^="workbench.parts"]:has(.content .explorer-viewlet) .composite.title:first-child h2 {
    text-transform: none !important;
    transform: translateY(5%) !important;
}

[id^="workbench.parts"]:has(.content .explorer-viewlet) .composite.title>*:not(:first-child) {
    display: none !important;
}