.tab {
    -webkit-app-region: no-drag !important;
    border-radius: 5px 5px 0px 0px !important;
}

.slider {
    display: none !important;
}

.message {
    display: none !important;
}

.shortcuts {
    display: none !important;
}

.diffViewport {
    display: none !important;
}

.window-title {
    display: none !important;
}

.window-appicon {
    display: none !important;
}

.dirty-diff-glyph {
    display: none !important;
}

.includes-excludes {
    display: none !important;
}

.scrollbar.vertical {
    display: none !important;
}

.quick-input-widget {
    top: 35% !important;
    outline: 1px solid var(--vscode-focusBorder, var(--vscode-input-border)) !important;
}

.scrollbar.horizonal {
    display: none !important;
}

.title.show-file-icons {
    -webkit-app-region: drag !important;
}

.decorationsOverviewRuler {
    display: none !important;
}

.monaco-editor .line-numbers {
    left: 5px !important;
}

.quick-input-list-separator {
    display: none !important;
}

.xterm-decoration-overview-ruler {
    display: none !important;
}

.monaco-diff-editor .line-numbers {
    left: 10px !important;
}

.monaco-icon-description-container {
    display: none !important;
}

.composite.title.has-composite-bar {
    padding: 0px !important;
}

.composite.title:not(.has-composite-bar) {
    -webkit-app-region: drag !important;
}

[id^="workbench.parts"] .composite.title:not(.has-composite-bar)>* {
    display: none !important;
}

[id^="workbench.parts"]:has(.content .explorer-viewlet) .composite.title>*:first-child {
    display: block !important;
}

[id^="workbench.parts"]:has(.content .explorer-viewlet) .composite.title:first-child h2 {
    text-transform: none !important;
    transform: translateY(5%) !important;
}

[id^="workbench.parts"]:has(.content .explorer-viewlet) .composite.title>*:not(:first-child) {
    display: none !important;
}